S3method(print,slot_machine)
S3method(print,slot_spin)
export(bankroll_path)
export(calculate_prize)
export(classify_outcome)
export(create_machine)
export(default_paytable)
export(default_symbols)
export(enumerate_outcomes)
export(find_integer_paytable)
export(format_spin)
export(simulate_spins)
export(simulation_summary)
export(spin_machine)
export(theoretical_summary)
